.DS_Store
._*
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
update.sh
update.bat
heypumpkin
_posts/2021-10-23-die.md
_flower/generate.bat
_flower/rename.sh
assets/img/flw/rename.sh
webring
assets/img/uni/tmp
_universe/19.md
_posts/2021-12-05-state-of-affairs-2.md
