_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
update.sh
update.bat
heypumpkin
_posts/2021-10-23-die.md
_flower/generate.bat
_flower/rename.sh
assets/img/flw/rename.sh
webring
assets/img/uni/tmp