html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: Verdana;
    background-color:  #ffccff;
    color: #000000;
    font-size: 12px;
    margin: 0px;
    height: 100%
}
#sidebar {
    /*height: 100%;*/
    width: 15%;
    min-width: 150px;
    max-width: 200px;
    padding-right: 5px;
    text-align: center;
    float: left;
    background-color: #ffb0ff;
    border-right: solid;
    border-right-color:#ff9bff;
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    overflow: clip;
}
#sidebar p {
    font-size: 10px;
}
#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#transrights {
    text-align: center;
    float: left;
    margin-left: 25%;
    margin-right: 10%;
    width: 70%;

}
#bottomuwu {
    font-size: 10px;
}