<nav>
    <ul>
        <li class="li-header">
            <span>navigation</span>
        </li>
        <li class="nav-item">
            <a href="/">home</a>
        </li>
        <li class="nav-item">
            <a href="/art">art</a>
        </li>
        <li class="nav-item">
            -  <a href="/art/scraps">scraps</a>
        </li>
        <li class="nav-item">
            <a href="/projects">projects</a>
        </li>
        <li class="nav-item">
            <a href="/blog">bunny blogging</a>
        </li>
        <li class="nav-item">
            <a href="/about">about</a>
        </li>
    </ul>
<br>
    <ul>
        <li class="li-header">
            <span>projects</span>
        </li>
        <li class="nav-item">
            <a href="https://hazelandrobyn.buny.plus">hazel and robyn</a>
        </li>
        <li class="nav-item">
            <a href="/sanctuary">project sanctuary</a>
        </li>
        <li class="nav-item">
            <a href="/lament">evergreen lament</a>
        </li>
    </ul>
<br>
    <ul>
        <li class="li-header">
            <span>shrines <a style="cursor: help;" title="little fanpages dedicated to a certain piece of media that you really really like a lot">(?)</a></span>
        </li>
        <li class="nav-item">
            <a href="/shrines/elinor">elinor</a>
        </li>
        <li class="nav-item">
            <a style="cursor: help;" title="more soon!">something else</a>
        </li>
    </ul>
<br>
    <ul>
        <li class="li-header">
            <span>socials</span>
        </li>
        <li class="nav-item">
            <a href="https://bsky.buny.plus">bluesky</a>
        </li>
        <li class="nav-item">
            <a href="https://sleeping.town/@lily">mastodon</a>
        </li>
    </ul>
</nav>