<ul id="side-nav">
    {% for item in site.data.navi %}
        <li><a href="{{ site.baseurl }}{{ item.link }}">{{ item.name }}</a></li>
    {% endfor %}
</ul><br>
<ul id="side-social">
    {% for item in site.data.socials %}
        <li><a rel="me" href="{{ item.link }}">{{ item.name }}</a></li>
    {% endfor %}
</ul>

<br><br>
<img src="{{ site.baseurl }}/assets/img/buttons/88x31pride.gif">
<img src="{{ site.baseurl }}/assets/img/buttons/hellokitty.gif">
<img src="{{ site.baseurl }}/assets/img/buttons/geocitieswww.gif">
<img src="{{ site.baseurl }}/assets/img/buttons/noframes.gif">
<img src="{{ site.baseurl }}/assets/img/buttons/best_viewed_with_eyes.gif">
<img src="{{ site.baseurl }}/assets/img/buttons/imissxp.gif">

<br><br><img src="{{ site.baseurl }}/assets/img/blinkies/2002.gif"><br>
<img src="{{ site.baseurl }}/assets/img/blinkies/trnsrits.gif"><br>
<img src="{{ site.baseurl }}/assets/img/blinkies/iheartsanrio.gif"><br>
<img src="{{ site.baseurl }}/assets/img/blinkies/black1.gif"><br>
<img src="{{ site.baseurl }}/assets/img/blinkies/yeehaw.gif"><br>
<br><p>part of the</p>
<img src="{{ site.baseurl }}/assets/img/worldwideweb_badge.gif"><br>
