body {
    font-family: MS Gothic;
    background-color:  #ffffff;
    color: #000000;
    font-size: 12px;
    margin: 0px;
    image-rendering: -webkit-optimize-contrast;
}

a {
    color: black;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

#iamlooking {
    text-align: center;
    padding: 18px 15% 18px 15%;
}
#iamlooking ul {
    list-style-type: none;
    margin: 15px 0 0 0;
    padding: 0;
    overflow: hidden;
}

#iamlooking img {
    max-height: 70vh;
    max-width: 100%;
}
#mobile {
    display: none;
}
#desktop {
    max-height: 70vh;
}

@media (orientation: portrait) {
    #desktop {
        display: none;
    }
    #mobile {
        display: inline;
        max-height: initial !important;
    }
}

#iamlooking h1 {
    font-weight: normal;
    font-size: 16px;
    display: none;
}

#bottomuwu {
    width: 100%;
    text-align: center;
    font-size: 10px;
}