body {
    font-family: Verdana;
    background-color:  #ffffff;
    color: #000000;
    font-size: 12px;
    margin: 0px;
}

#iamlooking {
    text-align: center;
    padding: 18px 15% 18px 15%;
}
#iamlooking ul {
    list-style-type: none;
    margin: 15px 0 0 0;
    padding: 0;
    overflow: hidden;
}

#bottomuwu {
    width: 100%;
    text-align: center;
    font-size: 10px;
}