body {
    font-family: 'MS UI Gothic', 'MS Gothic', 'Tahoma', 'Helvetica', 'Courier New', Courier, monospace;
    background-color:  #ffffff;
    color: #000000;
    font-size: 13px;
    margin: 0px;
}

a {
    color: black;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

#iamlooking {
    text-align: center;
    padding: 18px 5% 18px 5%;
}
#iamlooking ul {
    list-style-type: none;
    margin: 15px 0 0 0;
    padding: 0;
    overflow: hidden;
}

#iamlooking img {
    max-width: 90%;
    max-height: 75vw;
    transform: translateZ(0);
}

@media (orientation: portrait) {
    #iamlooking img {
        max-height: initial !important;
    }
}

#iamlooking h1 {
    font-weight: normal;
    font-size: 16px;
}

#thething {
    padding: 20px;
}

#bottomuwu {
    width: 100%;
    text-align: center;
    font-size: 10px;
}