body {
    background-color: #ddcb78;
    background-image: url(../img/bg/weather_summer_wide_t2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
}

#sidebar {
    background-color: #d5af56;
    border-right: 0px;
    border-right-color:#d5af56;
}
