body {
    font-family: MS Gothic, 'Courier New', Courier, monospace;
    background-color:  #000;
    color: #fff;
    font-size: 12px;
    margin: 0px;
    image-rendering: -webkit-optimize-contrast;
}

a {
    color: #fff;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

#iamlooking {
    text-align: center;
    padding: 18px 15% 5px 15%;
}
#iamlooking ul {
    list-style-type: none;
    margin: 15px 0 0 0;
    padding: 0;
    overflow: hidden;
}

#iamlooking img {
    max-width: 80%;
}

#iamlooking h1 {
    font-weight: normal;
    font-size: 16px;
    display: none;
}

#selector {
    font-size: 0;
}
#selector > .left, .right {
    font-size: 12px;
    display: inline-block;
    width: 20%;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}

#bottomuwu {
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: #555;
}