html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: Verdana;
    background-color: #161616;
    color: #ddd;
    font-size: 12px;
    margin: 0;
    height: 100%;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: aquamarine;
}

a:hover {
    text-decoration: underline;
}

/* #sidebar {
    width: 15%;
    min-width: 150px;
    max-width: 200px;
    padding-right: 5px;
    text-align: center;
    float: left;
    background-color: #161d20;
    border-right: solid;
    border-right-color:#0f1518;
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    overflow: clip;
    padding-top: 20px;
}
#sidebar p {
    font-size: 10px;
}
#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
*/

#sidebar {
    background-color: #121212;
    text-align: left;
    font-size: 9px;
    padding: 0;
}
#sidebar ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #121212;
}
#sidebar li {
    float: left;
}
#sidebar li a {
    display: block;
    color: #ddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#sidebar li a:hover {
    background-color: #212121;
}
#sidebar img {
    display: none;
}
#sidebar p {
    display: none;
}
#sidebar br {
    display: none;
}
#side-social {
    float:right;
}

#transrights {
    text-align: center;
    width: 100%;
    float: left;
    padding-top: 20px;
}
#transrights ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#bottomuwu {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #121212;
    text-align: center;
    font-size: 9px;
    padding: 10px;
}