body {
    background-color: #cfb188;
    background-image: url(../img/bg/weather_fall_wide_t2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
}

#sidebar {
    background-color: #ce8c6a;
    border-right: 0px;
    border-right-color:#ce8c6a;
}
