<!DOCTYPE html>
<html>
    <head>
        <title>{{ .Page.Title }}</title>
        <link rel="stylesheet" href="/assets/css/flower.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <script async defer data-domain="heypumpk.in" src="https://zinnia.poppy.heypumpk.in/js/index.js"></script> -->
        <style>
            html {
                background-color: {{ .Page.Params.bg }} !important
            }
        </style>
    </head>
    <body>
        <div id="iamlooking">
            <div id="thething">
                    {{ block "main" . }}
                    {{ end }}
            </div>
            <div id="footer">
                <div id="selector">
                {{ $pages := .CurrentSection.Pages.ByWeight.Reverse }}

                    <div class="left">
                        {{ with $pages.Prev . }}
                            <a href="{{ .RelPermalink }}">previous</a>
                        {{ end }}
                    </div>

                    <div class="right">
                        {{ with $pages.Next . }}
                            <a href="{{ .RelPermalink }}">next</a>
                        {{ end }}
                    </div>
                </div>
                <div>
                    <a href="/">exit</a></li>
                    <a href="/lament">index</a></li>
                    <a href="/lament/archive">archive</a></li>
                    <p>
                        copyleft 2021-2026 lily b.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
