---
layout: default
---

<meta name="twitter:site" content="@hott4tsexdotgov"> <!-- shoutouts to jasmine for this idea -->
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:card" content="summary_large_card">

<img src="{{ site.baseurl }}/assets/img/dividers/stars.gif"><br><br>
<b>{{ page.title }}</b><br><br>
<img src="{{ site.baseurl }}/assets/img/dividers/stars.gif"><br>
<p style="font-size: 10px;">{{ page.date | date_to_string }} - {{ page.author }}</p><br>
<!--tagged under:
{% for tag in page.tags %}
    <a href="{{ site.baseurl }}/bbs/tag/{{ tag }}">{{ tag }}</a>,
{% endfor %}</p><br>-->

{{ content }}
<br>