<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/assets/css/default.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include meta.html %}
    </head>
    <script src="{{ site.baseurl }}/assets/js/theme.js"></script>
    <noscript>
        <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/assets/css/weather_heypumpkin.css">
    </noscript>
    <body>
        <table cellspacing=0>
            <tr>
                <td id="sidebar">
                    {% include sidebar.html %}
                </td>
                <td id="transrights">
                    <p>
                        {{ content }}
                        {% include footer.html %}
                    </p>
                    <div id="mobilenav">
                        <ul>
                            {% for item in site.data.navi %}
                                <li><a href="{{ site.baseurl }}{{ item.link }}">{{ item.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>