<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/assets/css/default.css" id="themecss">
        {% include meta.html %}
    </head>
    <script>
        function randomize() {
            var randomtheme = [
                'weather.css',
                'weather_purple.css',
                'weather_fall.css',
                'weather_heypumpkin.css'
            ];
            document.getElementById('themecss').href = '{{ site.baseurl }}/assets/css/' + randomtheme[Math.floor(Math.random()*randomtheme.length)]
        }

        if (document.cookie.indexOf("theme=") >= 0) {
            var cook = document.cookie.split('; ');
            for (var i = 0; i < cook.length; i++) {
                name = cook[i].split('=')[0];
                if (name === "theme") {
                    theme = cook[i].split('=')[1];
                }
            }
            if (theme === "random") {
                randomize();
            } else {
                document.getElementById('themecss').href = '{{ site.baseurl }}/assets/css/' + theme;
            }
        } else {
            randomize();
        }
    </script>
    <body>
        <table cellspacing=0>
            <tr>
                <td id="sidebar">
                    {% include sidebar.html %}
                </td>
                <td id="transrights">
                    <p>
                        {{ content }}
                        {% include footer.html %}
                    </p>
                </td>
            </tr>
        </table>
    </body>
</html>