<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/flower.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script async defer data-domain="heypumpk.in" src="https://zinnia.poppy.heypumpk.in/js/index.js"></script>
    </head>
    <body>
        <div id="iamlooking">
            <div id="content">
                {{ content }}
            </div>
            <div id="footer">
                {% if page.latest != true %}
                    <div id="selector">
                        <div class="left">
                            {% if page.previous.url %}
                                <a style="color: #696969;" href="{{ site.baseurl }}{{ page.previous.url }}">previous</a>
                            {% endif %}
                        </div>
                        <div class="right">
                            {% if page.next.url %}
                                <a style="color: #696969;" href="{{ site.baseurl }}{{ page.next.url }}">next</a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                <br>
                <a href="{{ site.baseurl }}/">hpmk.in</a></li>
                <a href="{{ site.baseurl }}/lament">index</a></li>
                <a href="archive">archive</a></li>
            </div>
        </div>
    </body>
</html>