<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/assets/css/default.css" id="themecss">
        {% include meta.html %}
    </head>
    <script>
        if (document.cookie.split(';').some(function(item) {
            return item.trim().indexOf('theme=') == 0;
        })) {
            const theme = document.cookie
                .split('; ')
                .find(row => row.startsWith('theme'))
                .split('=')[1];
                document.getElementById('themecss').href = '/assets/css/' + theme;
        };
    </script>
    <body>
        <div id="sidebar">
            {% include sidebar.html %}
        </div>
        <div id="transrights">
            {{ content }}
            {% include footer.html %}
        </div>
    </body>
</html>