<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/sanctuary.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <script async defer data-domain="heypumpk.in" src="https://zinnia.poppy.heypumpk.in/js/index.js"></script> -->
    </head>
    <body>
        <div id="iamlooking">
            {% include sancheader.html %}
            <div id="thething">
                {{ content }}
            </div>
            <div id="selector">
                <div class="left">
                    {% if page.previous.url %}
                        <a style="color: #1a1a1a;" href="{{ site.baseurl }}{{ page.previous.url }}">previous</a>
                    {% endif %}
                    {% if page.latest %}
                        <a style="color: #1a1a1a;" href="{{ site.baseurl }}{{ site.sanctuary.last.previous.url }}">previous</a>
                    {% endif %}
                </div>
                <div class="right">
                    {% if page.next.url %}
                        <a style="color: #1a1a1a;" href="{{ site.baseurl }}{{ page.next.url }}">next</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="bottomuwu">
            <p>
                copyleft 2021 lily b.
            </p>
        </div>
    </body>
</html>