<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/universe.css">
    </head>
    <body>
        <div id="iamlooking">
            {% include universeheader.html %}
            <div id="thething">
                {{ content }}
            </div>
            <div id="navigator">
                <a href="1">first</a>
                {% if page.previous.url %}
                    <a href="{{ page.previous.url }}">previous</a>
                {% endif %}
                {% if page.latest %}
                    <a href="{{ site.universe.last.previous.url }}">previous</a>
                {% endif %}
                {% if page.next.url %}
                    {% if page.next.url == site.universe.last.url %}
                        <a href=".">next</a>
                    {% else %}
                        <a href="{{ page.next.url }}">next</a>
                    {% endif %}
                {% endif %}
                <a href=".">latest</a>
            </div>
        </div>
        {% include footer2.html %}
    </body>
</html>