<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/universe.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if page.latest %}
            {% include unimetahome.html %}
        {% else %}
            {% include unimeta.html %}
        {% endif %}
        <!-- <script async defer data-domain="heypumpk.in" src="https://zinnia.poppy.heypumpk.in/js/index.js"></script> -->
    </head>
    <body>
        <div id="iamlooking">
            {% include universeheader.html %}
            <br>
            {% include uninav.html %}
            <div id="thething">
                {{ content }}
            </div>
            {% include uninav.html %}
        </div>
        {% include footer2.html %}
    </body>
</html>